{% extends 'base.html' %}
{% load static %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Welcome to Friday!</h5>
                <p class="card-text">
                    Your project management platform is ready. Start by creating teams and projects.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
